<div class="profile_container">
  <nav>
    <%= link_to "プロフィール", profile_path, class:"profile-button" %>
    <%= link_to "アカウント編集", edit_user_registration_path, class:"account-button"  %>
  </nav>
  <div class="table_container">
    <div class="user_container">
      <h2>プロフィール</h2>
      <table>
        <tr>
          <th class="common_th">ユーザー名：</th>
          <td class="common_td"><%= @user.name %> </td>
        </tr>
        <tr>
          <th class="common_th">メールアドレス：</th>
          <td class="common_td"><%= @user.email %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
