// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category_navigation {
  margin: 10px 0;
  padding: 5px 5px;
}

#category {
  margin: 5px;
}

.category_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product_container {
  margin-top: 20px;
}
